@mixin font($size, $family) {
    font-size: $size;
    font-family: $family;
}

body,html{
    scroll-behavior: smooth;
    background: lightgray;
}

.nav{
    background: white;

    height: 100%;
    width: 12.5%;

    margin: 0;
    padding: 0;

    position: fixed;
    overflow: auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    h1{
        @include font(20px, sans-serif);

        text-align: center;

        width: 50%;
        border-bottom: 2px solid black;
    }

    li{
        padding: 14px 14px;
    }

    .txt-nav{
        @include font(18px, sans-serif);

        padding: 5px 10px;
    }
}
