$bg-color : rgb(238, 238, 238);

@mixin font($size, $family) {
    font-size: $size;
    font-family: $family;
}

body,html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    
    text-align: right;

    background: $bg-color;
}

.nav{
    background: white;

    height: 100%;
    width: 10%;

    margin: 0;
    padding: 0;

    position: fixed;
    overflow: auto;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;

    box-shadow: 1px 0px 20px black;

    z-index: 999999999;

    animation:navWHovR 1s;
    h1{
        @include font(20px, sans-serif);

        text-align: center;

        width: 50%;
        border-bottom: 2px solid black;
    }

    li{
        @include font(20px, sans-serif);

        padding: 14px 14px;
    }

    .txt-nav{
        @include font(18px, sans-serif);

        padding: 5px 10px;

        display: flex;
        justify-content:space-around;

        .txt{
            display: none;

            margin: 0px 5px;
        }

        &:hover{
            border-radius: 50px;
            background-color: $bg-color;
        }
    }

    &:hover{
        animation:forwards navWHov 2s;

        .txt{
            display: block;
        }
    }
}

@keyframes navWHov {
    100%{
        width: 15%;
    }
}
@keyframes navWHovR {
    from{width: 15%;}
    to{
        width: 10%;
    }
}

.content{
    .top{
        top: 0;
        right: 0;

        position: fixed;
        
        width: 100%;
        height: 45px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        padding: 5px 5px;

        background-color: white;

        box-shadow: 0px 2px 10px black;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        input{
            height: 30px;
            width: 20%;

            border: 1px solid black;
            border-radius: 20px;

            padding: 4px 5px;
        }
    }

    .none{
        margin-top: 60px;

        float: right;

        width: 85%;

        .dashboard{
            text-align: left;

            h1{
                @include font(30px, sans-serif);
                
                border-bottom: 4px solid white;

                width: 25%;
                a{
                    border-bottom: 4px solid black;
                }
            }

            .cards{
                display: flex;
                flex-direction: column;

                .row{
                    display: flex;

                    flex-direction: row;
                }
                .row-1{
                    .card-1{
                        background-color: white;

                        border-radius: 30px;
                        border: 2px solid white;
                        .image{
                            background-color: lightgray;
                            margin: 5px 5px;

                            border-top-right-radius: 30px;
                            border-top-left-radius: 30px;
                        }
                        .ava{
                            height: 100px;
                        }
                        .txt{
                            @include font(20px, sans-serif);
                            
                            .one{
                                display: flex;

                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }
}

