body, html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  text-align: right;
  background: rgb(238, 238, 238);
}

.nav {
  background: white;
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0px 10px black;
  z-index: 999999999;
  -webkit-animation: navWHovR 1s;
          animation: navWHovR 1s;
}
.nav h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  width: 50%;
  border-bottom: 2px solid black;
}
.nav li {
  font-size: 20px;
  font-family: sans-serif;
  padding: 14px 14px;
}
.nav .txt-nav {
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
}
.nav .txt-nav .txt {
  display: none;
  margin: 0px 5px;
}
.nav .txt-nav:hover {
  border-radius: 50px;
  background-color: rgb(238, 238, 238);
}
.nav:hover {
  -webkit-animation: forwards navWHov 2s;
          animation: forwards navWHov 2s;
}
.nav:hover .txt {
  display: block;
}

@-webkit-keyframes navWHov {
  100% {
    width: 15%;
  }
}

@keyframes navWHov {
  100% {
    width: 15%;
  }
}
@-webkit-keyframes navWHovR {
  from {
    width: 15%;
  }
  to {
    width: 10%;
  }
}
@keyframes navWHovR {
  from {
    width: 15%;
  }
  to {
    width: 10%;
  }
}
.btn {
  float: right;
  margin: 10px 10px;
  background-color: rgb(0, 68, 255);
  color: white;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 10px;
  border: 1px solid black;
}
.btn:hover {
  filter: contrast(50);
}

.content .top {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 5px;
  background-color: white;
  box-shadow: 0px 2px 5px black;
}
.content .top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content .top input {
  height: 30px;
  width: 20%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px 5px;
}
.content .none {
  margin-top: 60px;
  float: right;
  width: 85%;
}
.content .none .dashboard {
  text-align: left;
}
.content .none .dashboard h1 {
  font-size: 30px;
  font-family: sans-serif;
  border-bottom: 4px solid white;
  width: 25%;
}
.content .none .dashboard h1 a {
  border-bottom: 4px solid black;
}
.content .none .dashboard .cards {
  display: flex;
  flex-direction: column;
}
.content .none .dashboard .cards .row {
  display: flex;
  flex-direction: row;
}
.content .none .dashboard .cards .card {
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 10px;
}
.content .none .dashboard .cards .row-1 .card-1 {
  background-color: white;
  flex: 1;
  border-radius: 10px;
  border: 2px solid white;
}
.content .none .dashboard .cards .row-1 .card-1 .image {
  background-color: lightgray;
  margin: 5px 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content .none .dashboard .cards .row-1 .card-1 .ava {
  height: 100px;
}
.content .none .dashboard .cards .row-1 .card-1 .txt {
  font-size: 20px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  background-color: gray;
  border: 0.5px solid black;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b h3 {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-1 .card-2 {
  flex: 1;
}
.content .none .dashboard .cards .row-1 .card-2 input {
  background: rgb(182, 182, 182);
  border-radius: 5px;
  border: 1px solid black;
}
.content .none .dashboard .cards .row-1 .card-2 .txtBox {
  font-size: 15px;
  font-family: sans-serif;
  background: rgb(182, 182, 182);
  margin-top: 2%;
  resize: none;
  padding: 14px 10px;
  border-radius: 10px;
}
.content .none .dashboard .cards .row-1 .card-3 {
  flex: 1;
}
.content .none .dashboard .cards .row-1 .card-3 .bars {
  display: flex;
  flex-direction: column;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: blue;
  background: lightblue;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt {
  width: 100%;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt .bar1 {
  margin: 5px 5px;
  background: lightblue;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt .moneyBar {
  width: 45%;
  font-size: 15px;
  background-color: blue;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: rgb(187, 159, 0);
  background: rgb(250, 250, 81);
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt {
  padding: 5px 5px;
  width: 100%;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt .bar2 {
  background: rgb(250, 250, 81);
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt .pro {
  width: 45%;
  font-size: 15px;
  background-color: rg;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: green;
  background: lightgreen;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt {
  width: 100%;
  margin: 5px 5px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt .bar3 {
  background: lightgreen;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt .teamm {
  width: 45%;
  font-size: 15px;
  background-color: green;
}/*# sourceMappingURL=style.css.map */