.row {
  display: flex;
  flex-direction: row;
}

.card {
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  padding: 5px 10px;
  margin: 10px 10px;
}

body, html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  text-align: right;
  background: rgb(238, 238, 238);
}

.nav {
  background: white;
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0px 10px black;
  z-index: 999999999;
  -webkit-animation: navWHovR 1s;
          animation: navWHovR 1s;
}
.nav h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  width: 50%;
  border-bottom: 2px solid black;
}
.nav li {
  font-size: 20px;
  font-family: sans-serif;
  padding: 14px 14px;
}
.nav .txt-nav {
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
}
.nav .txt-nav .txt {
  display: none;
  margin: 0px 5px;
}
.nav .txt-nav:hover {
  border-radius: 50px;
  background-color: rgb(182, 182, 182);
}
.nav:hover {
  -webkit-animation: forwards navWHov 2s;
          animation: forwards navWHov 2s;
}
.nav:hover .txt {
  display: block;
}

@-webkit-keyframes navWHov {
  100% {
    width: 15%;
  }
}

@keyframes navWHov {
  100% {
    width: 15%;
  }
}
@-webkit-keyframes navWHovR {
  from {
    width: 15%;
  }
  to {
    width: 10%;
  }
}
@keyframes navWHovR {
  from {
    width: 15%;
  }
  to {
    width: 10%;
  }
}
.btn {
  float: right;
  margin: 10px 10px;
  background-color: rgb(0, 68, 255);
  color: white;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 10px;
  border: 1px solid black;
}
.btn:hover {
  filter: contrast(50);
}

.content .top {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 5px;
  background-color: white;
  box-shadow: 0px 2px 5px black;
}
.content .top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content .top input {
  height: 30px;
  width: 20%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px 5px;
}
.content .none {
  margin-top: 60px;
  float: right;
  width: 85%;
}
.content .none .dashboard {
  text-align: left;
}
.content .none .dashboard h1 {
  font-size: 30px;
  font-family: sans-serif;
  border-bottom: 4px solid white;
  width: 25%;
}
.content .none .dashboard h1 a {
  border-bottom: 4px solid black;
}
.content .none .dashboard .cards {
  display: flex;
  flex-direction: column;
}
.content .none .dashboard .cards .row {
  display: flex;
  flex-direction: row;
}
.content .none .dashboard .cards .card {
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  padding: 5px 10px;
  margin: 10px 10px;
}
.content .none .dashboard .cards .row-1 .card-1 {
  background-color: white;
  flex: 1;
  border-radius: 10px;
  border: 2px solid white;
}
.content .none .dashboard .cards .row-1 .card-1 .image {
  background-color: lightgray;
  margin: 5px 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content .none .dashboard .cards .row-1 .card-1 .ava {
  height: 100px;
}
.content .none .dashboard .cards .row-1 .card-1 .txt {
  font-size: 20px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  background-color: white;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b h3 {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-1 .card-1 .txt .one .b p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-1 .card-2 {
  flex: 1;
}
.content .none .dashboard .cards .row-1 .card-2 input {
  background: rgb(182, 182, 182);
  border-radius: 5px;
  border: 1px solid black;
}
.content .none .dashboard .cards .row-1 .card-2 .txtBox {
  font-size: 15px;
  font-family: sans-serif;
  background: rgb(182, 182, 182);
  margin-top: 2%;
  resize: none;
  padding: 14px 10px;
  border-radius: 10px;
}
.content .none .dashboard .cards .row-1 .card-3 {
  flex: 1;
}
.content .none .dashboard .cards .row-1 .card-3 .bars {
  display: flex;
  flex-direction: column;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: blue;
  background: lightblue;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt {
  width: 100%;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt .bar1 {
  margin: 5px 5px;
  background: lightblue;
  border-radius: 30px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .money .txt .moneyBar {
  border-radius: 30px;
  width: 45%;
  font-size: 15px;
  padding: 2px 2px;
  color: white;
  background-color: blue;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: rgb(187, 159, 0);
  background: rgb(250, 250, 81);
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt {
  padding: 5px 5px;
  width: 100%;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt .bar2 {
  background: rgb(250, 250, 81);
  border-radius: 30px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .projects .txt .pro {
  border-radius: 30px;
  padding: 2px 2px;
  width: 45%;
  font-size: 15px;
  background-color: rg;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .fa-solid {
  padding: 10px 10px;
  font-size: 30px;
  color: green;
  background: lightgreen;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt {
  width: 100%;
  margin: 5px 5px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt a {
  font-size: 18px;
  padding: 2px 3px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt .bar3 {
  background: lightgreen;
  border-radius: 30px;
}
.content .none .dashboard .cards .row-1 .card-3 .bars .team .txt .teamm {
  border-radius: 30px;
  padding: 2px 2px;
  width: 45%;
  font-size: 15px;
  background-color: green;
}
.content .none .dashboard .cards .row-2 .Tcard1 {
  flex: 1;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 8px 8px;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .one h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .one p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 8px 8px;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .two h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .two p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .first .one {
  background: white;
  box-shadow: 0px 1px 2px black;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .first .one .fa-solid {
  color: goldenrod;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .first .two {
  background: white;
  box-shadow: 0px 1px 2px black;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .first .two .fa-regular {
  color: green;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .second .one {
  background: white;
  box-shadow: 0px 1px 2px black;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .second .one .esp {
  -webkit-animation: infinite rotate 2s;
          animation: infinite rotate 2s;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .second .one .fa-solid {
  color: rgb(0, 81, 255);
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .second .two {
  background: white;
  box-shadow: 0px 1px 2px black;
}
.content .none .dashboard .cards .row-2 .Tcard1 .square .second .two .fa-solid {
  color: rgb(255, 8, 0);
}
.content .none .dashboard .cards .row-2 .Tcard2 {
  flex: 1;
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  border-radius: 8px;
  margin: 4px 2px;
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC div {
  margin: 4px 2px;
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC img {
  width: 90px;
  border-radius: 10px;
  padding: 4px 2px;
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC .txt h3 {
  font-size: 12px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC .txt p {
  font-size: 10px;
  font-family: sans-serif;
  color: rgb(143, 143, 143);
}
.content .none .dashboard .cards .row-2 .Tcard2 .news .newsC .time a {
  font-size: 10px;
  font-family: sans-serif;
  color: black;
  background: rgb(182, 182, 182);
  white-space: nowrap;
  padding: 5px 2px;
  border-radius: 10px;
}
.content .none .dashboard .cards .row-2 .Tcard3 .tasks .task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  border-radius: 8px;
  padding: 8px 4px;
  margin: 8px 4px;
}
.content .none .dashboard .cards .row-2 .Tcard3 .tasks .task .txt h5 {
  font-size: 12px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-2 .Tcard3 .tasks .task .txt .small {
  font-size: 10px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-3 .card {
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  padding: 5px 10px;
  margin: 10px 10px;
}
.content .none .dashboard .cards .row-3 .THcard1 {
  flex: 1;
}
.content .none .dashboard .cards .row-3 .THcard1 h3 {
  font-size: 20px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-3 .THcard1 .words .word1, .content .none .dashboard .cards .row-3 .THcard1 .words .word {
  font-size: 13px;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(143, 143, 143);
}
.content .none .dashboard .cards .row-3 .THcard1 .words .word {
  font-size: 13px;
  font-family: sans-serif;
  color: black;
}
.content .none .dashboard .cards .row-3 .THcard1 .words .word .num {
  font-size: 13px;
  font-family: sans-serif;
  background: rgb(165, 165, 165);
  border-radius: 10%;
  padding: 2px 4px;
}
.content .none .dashboard .cards .row-3 .THcard2 {
  flex: 1;
}
.content .none .dashboard .cards .row-3 .THcard2 h3 {
  font-size: 15px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads {
  display: flex;
  flex-direction: column;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file .image {
  text-align: center;
  padding: 4px 4px;
  margin: 5px 4px;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file .image img {
  width: 88px;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file .txt h3 {
  font-size: 15px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file .txt p {
  font-size: 12px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-3 .THcard2 .uploads .file .size p {
  font-size: 13px;
  font-family: sans-serif;
  background: rgb(143, 143, 143);
  padding: 5px 2px;
  border-radius: 10%;
}
.content .none .dashboard .cards .THcard3 {
  flex: 1;
}
.content .none .dashboard .cards .THcard3 .progress {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.content .none .dashboard .cards .THcard3 .progress .line {
  color: rgb(0, 81, 255);
  background: rgb(0, 81, 255);
  height: 100%;
}
.content .none .dashboard .cards .THcard3 .progress .line p {
  height: 100%;
  font-size: 40px;
  font-weight: light;
}
.content .none .dashboard .cards .THcard3 .progress .txt p {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 2px;
}
.content .none .dashboard .cards .row {
  display: flex;
  flex-direction: row;
}
.content .none .dashboard .cards .row-4 .card {
  flex: 0;
}
.content .none .dashboard .cards .row-4 .Fcard1 {
  flex: 1;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .blue {
  color: rgb(0, 110, 255);
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .green {
  color: rgb(0, 128, 6);
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .gold {
  color: rgb(218, 131, 32);
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .crimson {
  color: crimson;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .dot .fa-solid {
  font-size: 20px;
  font-weight: bold;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .col {
  height: 100%;
  font-size: 50px;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .txt h3 {
  font-size: 15px;
  font-family: sans-serif;
}
.content .none .dashboard .cards .row-4 .Fcard1 .reminders .reminder .txt p {
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(143, 143, 143);
}
.content .none .dashboard .cards .row-4 .Fcard2 {
  flex: 1;
}
.content .none .dashboard .cards .row-4 .Fcard3 {
  flex: 1;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */