@import './variables.scss';

@mixin font($size, $family) {
    font-size: $size;
    font-family: $family;
}

.row{
    display: flex;

    flex-direction: row;
}
.card{
    @include font(20px, sans-serif);
    background-color: white;

    border-radius: $border-r;

    flex: 1;

    padding: 5px 10px;
    margin: 10px 10px;
}

body,html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    
    text-align: right;

    background: $bg-color;
}

.nav{
    background: white;

    height: 100%;
    width: 10%;

    margin: 0;
    padding: 0;

    position: fixed;
    overflow: auto;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;

    box-shadow: 1px 0px 10px black;

    z-index: 999999999;

    animation:navWHovR 1s;
    h1{
        @include font(20px, sans-serif);

        text-align: center;

        width: 50%;
        border-bottom: 2px solid black;
    }

    li{
        @include font(20px, sans-serif);

        padding: 14px 14px;
    }

    .txt-nav{
        @include font(18px, sans-serif);

        padding: 5px 10px;

        display: flex;
        justify-content:space-around;

        .txt{
            display: none;

            margin: 0px 5px;
        }

        &:hover{
            border-radius: 50px;
            background-color: $bg-note;
        }
    }

    &:hover{
        animation:forwards navWHov 2s;

        .txt{
            display: block;
        }
    }
}

@keyframes navWHov {
    100%{
        width: 15%;
    }
}
@keyframes navWHovR {
    from{width: 15%;}
    to{
        width: 10%;
    }
}

.btn{
    float: right;

    margin: 10px 10px;

    background-color: $btn-bg;
    color: white;

    font-size: 20px;

    padding: 5px 8px;

    border-radius: 10px;
    border: 1px solid black;

    &:hover{
        -webkit-filter: contrast(50);
        filter: contrast(50);
    }
}

.content{
    .top{
        top: 0;
        right: 0;

        position: fixed;
        
        width: 100%;
        height: 45px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        padding: 5px 5px;

        background-color: white;

        box-shadow: 0px 2px 5px black;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        input{
            height: 30px;
            width: 20%;

            border: 1px solid black;
            border-radius: 20px;

            padding: 4px 5px;
        }
    }

    .none{
        margin-top: 60px;

        float: right;

        width: 85%;

        .dashboard{
            text-align: left;

            h1{
                @include font(30px, sans-serif);
                
                border-bottom: 4px solid white;

                width: 25%;
                a{
                    border-bottom: 4px solid black;
                }
            }

            .cards{
                display: flex;
                flex-direction: column;

                .row{
                    display: flex;

                    flex-direction: row;
                }
                .card{
                    @include font(20px, sans-serif);
                    background-color: white;

                    border-radius: $border-r;

                    flex: 1;

                    padding: 5px 10px;
                    margin: 10px 10px;
                }

                .row-1{
                    .card-1{
                        background-color: white;

                        flex: 1;

                        border-radius: $border-r;
                        border: 2px solid white;
                        .image{
                            background-color: lightgray;
                            margin: 5px 5px;

                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                        .ava{
                            height: 100px;
                        }
                        .txt{
                            @include font(20px, sans-serif);
                            
                            .one{
                                display: flex;

                                flex-direction: row;
                                justify-content: center;

                                .b{
                                    display: flex;
                                    
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    padding: 14px 10px;

                                    background-color: white;

                                    border-top: 0.5px solid black;
                                    border-bottom: 0.5px solid black;
                                    h3{
                                        @include font(15px, sans-serif);
                                        font-weight: lighter;
                                    }
                                    p{
                                        @include font(15px, sans-serif);
                                        font-weight: lighter;
                                    }
                                }
                            }
                        }
                    }
                    
                    .card-2{
                        flex: 1;

                        input{
                            background: $bg-note;

                            border-radius: 5px;
                            border: 1px solid black;
                        }
                        .txtBox{
                            @include font(15px, sans-serif);
                            background: $bg-note;

                            margin-top: 2%;

                            resize: none;

                            padding: 14px 10px;

                            border-radius: 10px;
                        }
                    }
                    .card-3{
                        flex: 1;

                        .bars{
                            display: flex;

                            flex-direction: column;
                            .money{
                                display: flex;

                                flex-direction: row;
                                align-items: center;

                                .fa-solid{
                                    padding: 10px 10px;

                                    font-size: 30px;

                                    color: blue;
                                    background: lightblue;
                                }

                                .txt{
                                    width: 100%;
                                    a{
                                        font-size: 18px;

                                        padding: 2px 3px;
                                    }
                                    .bar1{
                                        margin: 5px 5px;

                                        background: lightblue;

                                        border-radius: 30px;
                                    }
                                    .moneyBar{
                                        border-radius: 30px;

                                        width: 45%;

                                        font-size: 15px;

                                        padding: 2px 2px;

                                        color: white;
                                        background-color: blue;
                                    }
                                }
                            }
                            .projects{
                                display: flex;

                                flex-direction: row;
                                align-items: center;

                                .fa-solid{
                                    padding: 10px 10px;

                                    font-size: 30px;

                                    color: rgb(187, 159, 0);
                                    background: rgb(250, 250, 81);
                                }

                                .txt{
                                    padding: 5px 5px;
                                    width: 100%;
                                    a{
                                        font-size: 18px;

                                        padding: 2px 3px;
                                    }
                                    .bar2{
                                        background: rgb(250, 250, 81);

                                        border-radius: 30px;
                                    }
                                    .pro{
                                        border-radius: 30px;
                                        padding: 2px 2px;

                                        width: 45%;

                                        font-size: 15px;

                                        background-color: rg;
                                    }
                                }
                            }
                            .team{
                                display: flex;

                                flex-direction: row;
                                align-items: center;

                                .fa-solid{
                                    padding: 10px 10px;

                                    font-size: 30px;

                                    color: green;
                                    background: lightgreen;
                                }

                                .txt{
                                    width: 100%;

                                    margin: 5px 5px;
                                    a{
                                        font-size: 18px;

                                        padding: 2px 3px;
                                    }
                                    .bar3{
                                        background: lightgreen;

                                        border-radius: 30px;
                                    }
                                    .teamm{
                                        border-radius: 30px;
                                        padding: 2px 2px;

                                        width: 45%;

                                        font-size: 15px;

                                        background-color: green;
                                    }
                                }
                            }
                        }
                    }
                }
                .row-2{
                    .Tcard1{
                        flex: 1;

                        .square{
                            display: flex;
                            
                            flex-direction: row;

                            justify-content: center;
                            align-items: center;
                            .one{
                                display: flex;

                                flex-direction: column;
                                align-items: center;

                                width: 150px;

                                border-radius: 10px;

                                padding: 20px 20px;
                                margin: 8px 8px;

                                h3{
                                    @include font(18px, sans-serif);
                                    
                                    font-weight: bold;
                                }
                                p{
                                    @include font(15px, sans-serif);

                                    font-weight: lighter;
                                }
                            }
                            .two{
                                display: flex;

                                flex-direction: column;
                                align-items: center;

                                width: 150px;

                                border-radius: 10px;

                                padding: 20px 20px;
                                margin: 8px 8px;
                            
                                h3{
                                    @include font(18px, sans-serif);
                                    
                                    font-weight: bold;
                                }
                                p{
                                    @include font(15px, sans-serif);

                                    font-weight: lighter;
                                }
                            }

                            .first{
                                .one{
                                    background: white;

                                    box-shadow: 0px 1px 2px black;

                                    .fa-solid{
                                        color: goldenrod;}
                                }
                                .two{
                                    background: white;

                                    box-shadow: 0px 1px 2px black;

                                    .fa-regular{
                                        color: green;}
                                }
                            }
                            .second{
                                .one{
                                    
                                    background: white;
                                    box-shadow: 0px 1px 2px black;
                                    
                                    .esp{
                                        animation: infinite rotate 2s;
                                    }
                                    .fa-solid{
                                        color: rgb(0, 81, 255);}
                                }

                                .two{
                                    background: white;

                                    box-shadow: 0px 1px 2px black;

                                    .fa-solid{
                                        color: rgb(255, 8, 0);}
                                }
                            }
                        }
                    }
                    .Tcard2{
                        flex: 1;
                        .news{
                            .newsC{
                                display: flex;

                                flex-direction: row;
                                align-items: center;

                                box-shadow: 0px 2px 2px black;
                                border-radius: 8px;

                                margin: 4px 2px;

                                div{
                                    margin: 4px 2px;
                                }

                                img{
                                    width: 90px;

                                    border-radius: 10px;

                                    padding: 4px 2px;
                                }
                                .txt{
                                    h3{
                                        @include font(12px, sans-serif);
                                    }
                                    p{
                                        @include font(10px, sans-serif);
                                        color: rgb(143, 143, 143);
                                    }
                                }
                                .time{
                                    a{
                                        @include font(10px, sans-serif);

                                        color: black;
                                        background: $bg-note;

                                        white-space: nowrap;

                                        padding: 5px 2px;

                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .Tcard3{
                        .tasks{
                            .task{
                                display: flex;

                                flex-direction: row;
                                justify-content:space-between;
                                align-items: center;

                                box-shadow: 0px 2px 2px black;
                                border-radius: 8px;

                                padding: 8px 4px;
                                margin: 8px 4px;
                                .txt{
                                    h5{
                                        @include font(12px, sans-serif);
                                    }
                                    .small{
                                        @include font(10px, sans-serif);
                                    }
                                }
                            }
                        }
                    }
                }
                .row-3{
                    .card{
                        @include font(20px, sans-serif);
                        background-color: white;
    
                        border-radius: $border-r;
    
                        flex: 1;
    
                        padding: 5px 10px;
                        margin: 10px 10px;
                    }
                    

                    .THcard1{      
                        flex: 1;      
                        h3{
                            @include font(20px, sans-serif);
                        }
                        .words{
                            .word1{
                                @include font(13px, sans-serif);

                                display: flex;

                                flex-direction: row;

                                justify-content: space-between;
                                align-items: center;

                                color: rgb(143, 143, 143);
                            }
                            .word{
                                @extend .word1;
                                @include font(13px, sans-serif);

                                color: black;

                                .num{
                                    @include font(13px, sans-serif);

                                    background: rgb(165, 165, 165);

                                    border-radius: 10%;

                                    padding: 2px 4px;
                                }
                            }
                        }
                    }
                    .THcard2{
                        flex:1;
                        h3{
                            @include font(15px, sans-serif);
                        }
                        .uploads{
                            display: flex;

                            flex-direction: column;
                            .file{
                                display:flex;

                                flex-direction: row;

                                justify-content: space-between;
                                align-items: center;

                                .image{
                                    text-align:center;

                                    padding: 4px 4px;
                                    margin: 5px 4px;
                                    img{
                                        width: 88px;
                                    }
                                }
                                .txt{
                                    h3{
                                        @include font(15px, sans-serif);
                                    }
                                    p{
                                        @include font(12px, sans-serif);
                                    }
                                }
                                .size{
                                    p{
                                        @include font(13px, sans-serif);

                                        background: rgb(143, 143, 143);

                                        padding: 5px 2px;

                                        border-radius: 10%;
                                    }
                                }
                            }
                        }
                    }
                }
                .THcard3{
                    flex: 1;
                    .progress{
                        display:flex;

                        flex-direction: row;

                        justify-content: left;
                        align-items: center;
                        .line{
                            color: rgb(0, 81, 255);
                            background: rgb(0, 81, 255);

                            height: 100%;
                            p{
                                height: 100%;

                                font-size: 40px;
                                font-weight: light;
                            }
                        }
                        .txt{
                            p{
                                @include font(13px, sans-serif);
                                font-weight: bold;

                                margin-left: 2px;
                            }
                        }
                    }
                }
                .row{
                    display: flex;

                    flex-direction: row;
                }

                .row-4{       
                    .card{
                        flex:0;
                    }                              
                    .Fcard1{    
                        flex: 1;                    
                        .reminders{
                            display: flex;

                            flex-direction: column;

                            justify-content: left;
                            .reminder{
                                display: flex;

                                flex-direction: row;

                                align-items: center;
                                .blue{color: rgb(0, 110, 255);}
                                .green{color: rgb(0, 128, 6);}
                                .gold{color: rgb(218, 131, 32);}
                                .crimson{color:crimson;}

                                .dot{
                                    .fa-solid{
                                        font-size: 20px;
                                        font-weight: bold;
                                    }
                                }
                                .col{                                    
                                    height: 100%;

                                    font-size: 50px;
                                }
                                .txt{
                                    h3{
                                        @include font(15px, sans-serif);
                                    }
                                    p{
                                        @include font(12px, sans-serif);

                                        color: rgb(143, 143, 143);
                                    }
                                }
                            }
                        }
                    }
                    .Fcard2{
                        flex: 1;

                        .bost{
                            .who{
                                display: flex;

                                flex-direction:row;

                                justify-content: left;
                                align-items: center;

                                .image{
                                    img{
                                        height:50px;
                                    }
                                }
                                .txt{
                                    margin: 5px 2px;
                                    h3{
                                        @include font(15px, sans-serif);
                                    }
                                    p{
                                        @include font(12px, sans-serif);

                                        color: rgb(143, 143, 143);
                                    }
                                }
                            }
                            .content{
                                border-top:1px solid rgb(143, 143, 143);
                                p{
                                    @include font(15px, (system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif));
                                    text-align: right;
                                }
                            }
                            .react{
                                display: flex;

                                flex-direction: row;

                                justify-content: space-between;

                                border-top:1px solid rgb(143, 143, 143);
                                .love{
                                    color: rgb(143, 143, 143);
                                }
                                .comment{
                                    color: rgb(143, 143, 143);
                                }
                            }
                        }
                    }
                    .Fcard3{
                        flex: 1;
                        .links{
                            .link{
                                display: flex;

                                flex-direction: row;

                                justify-content: space-between;
                                align-items: center;
                                .icons-names{
                                    display:flex;
                                    flex-direction: row;

                                    justify-content:space-between;
                                    
                                    .fa-brands{
                                        margin: 2px 4px;
                                    }
                                }
                            }
                        }
                    }
                }
                .row-5{
                    content: 'hi';
                }
            }
        }
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}